<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="/assets?path=/css/style.css">
</head>
<body>
    <main id="main">
        <span class="fs-titlebar">Current directory: {{base}}</span>
        <ul class="fs-list">
            <li class="item-dir" @click="goToParent()">
                <img src="/assets?path=/img/icon-back.svg"/>
                <span class="item-name-text">..</span>
                <span class="item-size-text">Parent directory</span>
            </li>
            <li v-for="dir in dirs" class="item-dir" @click="goToDir(dir.Name)">
                <img src="/assets?path=/img/icon-dir.svg"/>
                <span class="item-name-text">{{dir.Name}}</span>
                <br/>
                <span class="item-size-text">Subdirectory</span>
                <span class="item-lastmod-text">Last mod.: {{dir.LastModified}}</span>
            </li>
            <li v-for="file in files" class="item-file">
                <a :href="(dirUrlPrefix + base + file.Name)" target="blank">
                    <img src="/assets?path=/img/icon-file.svg"/>
                    <span class="item-name-text">{{file.Name}}</span>
                    <br/>
                    <span class="item-size-text">{{file.Size}} bytes</span>
                    <span class="item-lastmod-text">Last mod.: {{file.LastModified}}</span>
                </a>
            </li>
        </ul>
    </main>
    <script type="text/javascript">
    // Default http fail handler
    function defaultFail (http) {
        console.warn("Request failed:");
        console.warn("URL: " + http.responseURL);
        console.warn("Status: " + http.status);
        console.log(http.response);
    }

    // Boilerplate
    function beginHttpGet (url, success, fail = defaultFail) {
        var http = new XMLHttpRequest();
        http.open("GET", url);
        http.onreadystatechange = function() {
            if (http.readyState == XMLHttpRequest.DONE) {
                if (http.status >= 200 && http.status < 300) {
                    success(http);
                }
                else {
                    fail(http);
                }
            }
        };
        http.send();
    }

    var app = new Vue({
        el: "#main",
        data: {
            dirUrlPrefix: "/fs?path=",
            parent: "",
            base: "",
            dirs: [],
            files: []
        },
        methods: {
            goTo: function(dirName){
                var url = this.dirUrlPrefix + dirName;
                var capturedThis = this;
                beginHttpGet(url, function(http){
                    var response = (http.responseType == "json") ? 
                        http.response : JSON.parse(http.response);
                    console.log(http.response);
                    capturedThis.base = response["Base"];
                    capturedThis.dirs = response["Dirs"];
                    capturedThis.files = response["Files"];
                    capturedThis.parent = response["Parent"];
                });
            },
            goToDir: function(dirName){
                this.goTo(this.base + dirName);
            },
            goToParent: function(){
                this.goTo(this.parent);
            },
            start: function(){
                this.goToDir(this.base);
            }
        }
    });

    app.start();
    </script>
</body>
</html>